/* CSS EMOJI toggle checkbox from
https://css-tricks.com/emoji-toggles/

html part
<div class="emoji-toggle emoji-happy">
        <input type="checkbox" id="toggle1" class="toggle">
        <div class="emoji"></div>
        <label for="toggle1" class="well"></label>
      </div> */

.emoji-toggle{position:relative;width:60px;margin:40px auto}
.emoji-toggle .well{display:block;background:#eee;height:20px;border-radius:10px;cursor:pointer}
.emoji-toggle .toggle{opacity:0;border:0;outline:0;height:100%;width:100%;background:0 0;position:absolute;cursor:pointer;z-index:100}
.emoji-toggle .toggle~.emoji:before{content:"\01F431";position:absolute;left:0;top:-15px;font-size:40px;transition:.2s}
.emoji-toggle .toggle:checked~.emoji:before{left:100%;margin-left:-1em}
.emoji-toggle .toggle~label{white-space:nowrap}
.emoji-toggle .toggle~label:before{position:absolute;right:100%;margin-right:5px;top:0}
.emoji-toggle .toggle~label:after{position:absolute;left:100%;margin-left:5px;top:0}
.emoji-happy .toggle~.emoji:before{content:"\01F604"}
.emoji-happy .toggle:checked~.emoji:before{content:"\01F622"}
.emoji-happy .toggle~label:before{content:"Happy"}
.emoji-happy .toggle~label:after{content:"Sad"}
.emoji-travel .toggle~.emoji:before{content:"\02708"}
.emoji-travel .toggle:checked~.emoji:before{content:"\01F683"}
.emoji-travel .toggle~label:before{content:"Plane"}
.emoji-travel .toggle~label:after{content:"Train"}
.emoji-food .toggle~.emoji:before{content:"\01F354"}
.emoji-food .toggle:checked~.emoji:before{content:"\01F355"}
.emoji-food .toggle~label:before{content:"Burger"}
.emoji-food .toggle~label:after{content:"Pizza"}
.emoji-vote .toggle~.emoji:before{content:"\01F44D"}
.emoji-vote .toggle:checked~.emoji:before{content:"\01F44E"}
.emoji-vote .toggle~label:before{content:"Thumbs Up"}
.emoji-vote .toggle~label:after{content:"Thumbs Down"}
.emoji-love .toggle~.emoji:before{content:"\01F498"}
.emoji-love .toggle:checked~.emoji:before{content:"\01F494"}
.emoji-love .toggle~label:before{content:"Loves Me"}
.emoji-love .toggle~label:after{content:"Loves Me Not"}